# Coursera Capstone Project

## Segmenting and Clustering Neighborhoods in Toronto - Part 1

### Part 1

# Table of Contents

<div class = "alert alert-block alert-info" style = "margin-top: 20px">

<font size = 3>

1.  <a href="#item1">Imports</a>

2.  <a href="#item2">Loading the data</a>

3.  <a href="#item3">Scraping the data</a>

4.  <a href="#item4">Replacing the "Not assigned" values in the Neighborhood column</a>

5.  <a href="#item5">Replacing the "Not assigned" values in the Borough column</a>  
    
6.  <a href="#item5">Loading the Geospatial Coordinates" </a> 

7.  <a href="#item5">Replacing the "Not assigned" values in the Borough column</a> 
    
    
    

</font>
</div>

## 1. Imports

In [1]:
!conda install --yes beautifulsoup4

!pip install lxml

from bs4 import BeautifulSoup
import requests
import pandas as pd

print('Done')

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.6.1)
Done

## 2. Loading data

In [2]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text 
soup = BeautifulSoup(source, 'xml')
table = soup.find('table')

In [3]:
columns_names = ['Postalcode','Borough','Neighborhood']
df = pd.DataFrame(columns = columns_names)

## 3. Scraping the data

In [4]:
for tr in table.find_all('tr'):
    row_data=[]
    for td in tr.find_all('td'):
        row_data.append(td.text.strip())         
    if len(row_data)==3:
        df.loc[len(df)] = row_data

## 4. Replacing the "Not assigned" values in the Neighborhood column

In [5]:
for i in range(len(df)):
    if df['Neighborhood'].loc[i] == 'Not assigned':
        a = df['Neighborhood'].loc[i]
        b = df['Borough'].loc[i]
        df['Neighborhood'].replace(a, b)

## 5. Replacing the "Not assigned" values in the Borough column

In [6]:
for i in range(len(df)):
    if df['Borough'].loc[i] == 'Not assigned':
        df = df.drop(i)

In [7]:
df = df.reset_index(drop = True) # prevent it to create a "column" named index

In [8]:
df.head(12)

,Postalcode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village"
6,M1B,Scarborough,"Malvern, Rouge"
7,M3B,North York,Don Mills
8,M4B,East York,"Parkview Hill, Woodbine Gardens"
9,M5B,Downtown Toronto,"Garden District, Ryerson"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov..."

In [9]:
df.shape

(103, 3)

## 6. Loading the Geospatial Coordinates

In [10]:
dfgc = pd.read_csv('Geospatial_Coordinates.csv')
dfgc.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [11]:
dfgc.rename(columns={'Postal Code' : 'Postalcode'}, inplace = True)

## 7. Merging the columns

In [12]:
merge_columns = pd.merge(df, dfgc, left_on = 'Postalcode', right_on = 'Postalcode')
merge_columns.head()

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494